
h3{
  color: rgb(102, 102, 102);
  font-size: 18px;
  margin-bottom: 20px;
}

i{
  font-size: 40px;
}

.menu{
  color: #152935;
  font-size: 16px;
  font-weight: bold;
  /* border-bottom: 1px solid rgb(100, 97, 100); */
}

.menu__item:hover{
  color: #3D70B2;
  cursor: pointer;
}

.menu__item--active{
  color: #3D70B2;
}

.nfe{
  color: #152935;
  width: 40px;
}

