<div class="table-responsive-md">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Descrição</th>
        <th scope="col">Valor</th>
        <th scope="col">Status</th>
        <th scope="col">Emissão</th>
        <th scope="col">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Assinatura Eletronica</td>
        <td>24,50</td>
        <td>Disponivel</td>
        <td>23/02/2021</td>
        <td><button class="btn btn-info btn-sm" title="Diponivel"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Assinatura Eletronica</td>
        <td>50,59</td>
        <td>Aguardando</td>
        <td>23/03/2021</td>
        <td><button class="btn btn-info btn-sm" title="Aguardando a liberação"><i class="fa fa-download"></i></button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Assinatura Eletronica</td>
        <td>20,59</td>
        <td>Diponivel</td>
        <td>23/03/2021</td>
        <td><button class="btn btn-info btn-sm" title="Aguardando a liberação"><i class="fa fa-download"></i></button></td>

      </tr>
    </tbody>
  </table>
</div>
