<div class="row d-flex justify-content-center mt-2">
    <div class="col col-7">
      <ul>

        <li class="li__item">
          <i class="fa fa-print i_list"></i>
          <label>Imprima o boleto e <strong>pague no banco</strong></label>
        </li>

        <li class="li__item">
          <i class="fa fa-laptop i_list"></i>
          <label><strong> ou pague pela internet </strong>utilizando o código de barras do boleto</label>
        </li>

        <li class="li__item">
          <i class="fa fa-calendar i_list"></i>
          <label>o prazo de validade do boleto é de <strong>1 dia util</strong></label>
        </li>

      </ul>

      <div class="confirmation">
        <div class="confirmation__item">
          <p class="ml-4">Total:</p>
          <p>R$: 69,98</p>
        </div>

        <button class="btn btn-primary">Fechar pedido</button>

        <span>compra segura Site <i class="fa fa-lock i__block"></i></span>

      </div>

      <div class="important">
        <h3>Importante</h3>

        <ul class="ul">
          <li>
            No período de 30 dias, se houver cinco ou mais boletos bancários de um mesmo cliente, não pagos, poderá ocorrer bloqueio temporário desta forma de quitação, por até 30 dias. Nesse período, novas compras poderão ser feitas no site por meio de outras formas de pagamento ou com boleto, pelo Televendas.
          </li>

          <li>
            Caso o seu computador tenha um programa anti pop-up, será preciso desativá-lo antes de finalizar sua compra e imprimir o boleto ou pagar pelo internet banking;
          </li>

          <li>
            Não faça depósito ou transferência entre contas. O boleto não é enviado pelos Correios. Imprima-o e pague-o no banco ou pela internet;
          </li>

          <li>
            Se o boleto não for pago até a data de vencimento, o pedido será automaticamente cancelado;
          </li>

          <li>
            O prazo de entrega dos pedidos pagos com boleto bancário começa a contar três dias depois do pagamento do boleto, tempo necessário para que a instituição bancária confirme o pagamento.
          </li>

        </ul>
      </div>

    </div>
</div>
