<div class="row d-flex justify-content-center mt-2">
  <div class="col col-7">

    <div class="d-flex align-items-center icon">
      <i class="fa fa-money icon__pix mr-4"></i>
      <strong class="text-monospace icon__item">Pagar com Pix</strong>
    </div>
    <p>Pague com <strong>Pix</strong> em qualquer dia e a qualquer hora! O pagamento é instantâneo, prático e pode ser feito em poucos segundos. É muito rápido e seguro :)</p>
    <div class="d-flex">
      <i class="fa fa-qrcode qrcode"></i>

      <ul class="d-flex">
        <li class="d-flex align-items-center mb-2">

          <div class="icon__cell mr-2">
            <i class="fa fa-mobile"></i>
          </div>
          <span><strong>1.</strong> Abra o app do seu banco ou instituição financeira e entre no ambiente <strong>Pix</strong></span>

        </li>

        <li class="d-flex align-items-center mb-2">
          <div class="icon__qrcode mr-2">
            <i class="fa fa-qrcode"></i>
          </div>
          <span><strong>2.</strong> Escolha a opção <strong>Pagar com QR Code</strong>  e escaneie o código ao lado</span>
        </li>

        <li class="d-flex align-items-center">
          <div class="icon__check mr-2">
            <i class="fa fa-check-circle"></i>
          </div>
          <span><strong>3.</strong>Confirme as informações e finalize a compra</span>
        </li>
      </ul>
    </div>

    <div class="total">
      Total:
      <strong class="text-monospace">R$ 28,98</strong>
    </div>


  </div>
</div>
